src/audio_transfer_flow.json
{
  "Comment": "Audio Pipeline Transfer Flow - File discovery, filtering, and transfer",
  "StartAt": "DiscoverTarFiles",
  "States": {
    "DiscoverTarFiles": {
      "Type": "Action",
      "ActionUrl": "https://transfer.actions.globus.org/ls",
      "Parameters": {
        "endpoint_id.$": "$.source_endpoint",
        "path.$": "$.source_path",
        "filter": "name:~*.tar.xz",
        "limit": 5000
      },
      "ResultPath": "$.tar_files",
      "Next": "DiscoverParquetFiles"
    },
    "DiscoverParquetFiles": {
      "Type": "Action",
      "ActionUrl": "https://transfer.actions.globus.org/ls",
      "Parameters": {
        "endpoint_id.$": "$.source_endpoint",
        "path.$": "$.source_path",
        "filter": "name:~*.parquet",
        "limit": 5000
      },
      "ResultPath": "$.parquet_files",
      "Next": "FilterAndCombine"
    },
    "FilterAndCombine": {
      "Type": "ExpressionEval",
      "Parameters": {
        "transfer_DATA.=": "[{'source_path': source_path + f.name, 'destination_path': dest_path + f.name} for f in parquet_files.details.DATA + tar_files.details.DATA if date_str in f.name]"
      },
      "ResultPath": "$.transfer_items",
      "Next": "CheckTransferItems"
    },
    "CheckTransferItems": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.transfer_items",
          "StringEquals": "[]",
          "Next": "NoFilesFound"
        }
      ],
      "Default": "InitiateTransfer"
    },
    "NoFilesFound": {
      "Type": "Pass",
      "Result": {
        "status": "FAILED",
        "details": "No files found for the specified date",
        "files_found": 0
      },
      "End": true
    },
    "InitiateTransfer": {
      "Type": "Action", 
      "ActionUrl": "https://transfer.actions.globus.org/transfer",
      "Parameters": {
        "source_endpoint.$": "$.source_endpoint",
        "destination_endpoint.$": "$.dest_endpoint", 
        "DATA.$": "$.transfer_items.transfer_DATA",
        "label.$": "$.transfer_label",
        "skip_source_errors": true,
        "verify_checksum": false,
        "preserve_timestamp": true,
        "delete_destination_extra": false
      },
      "ResultPath": "$.transfer_result",
      "Next": "FormatResult"
    },
    "FormatResult": {
      "Type": "Pass",
      "Parameters": {
        "status": "SUCCESS",
        "task_id.$": "$.transfer_result.task_id",
        "files_found.$": "$.transfer_items[*]",
        "details": "Transfer initiated successfully"
      },
      "End": true
    }
  }
}