src/audio_transfer_flow.json
{
  "Comment": "Audio Pipeline Transfer Flow - File discovery, filtering, and transfer",
  "StartAt": "FileDiscovery",
  "InputSchema": {
    "type": "object",
    "required": [
      "source_endpoint",
      "dest_endpoint", 
      "source_path",
      "dest_path",
      "date_str"
    ],
    "properties": {
      "source_endpoint": {
        "type": "string",
        "format": "uuid",
        "title": "Source Endpoint ID",
        "description": "Globus endpoint UUID where audio files are stored",
        "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
      },
      "dest_endpoint": {
        "type": "string", 
        "format": "uuid",
        "title": "Destination Endpoint ID",
        "description": "Globus endpoint UUID where files will be transferred",
        "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
      },
      "source_path": {
        "type": "string",
        "title": "Source Path",
        "description": "Path on source endpoint containing audio files (should end with /)",
        "minLength": 1,
        "pattern": "^/.*/$"
      },
      "dest_path": {
        "type": "string",
        "title": "Destination Path", 
        "description": "Path on destination endpoint for transferred files (should end with /)",
        "minLength": 1,
        "pattern": "^/.*/$"
      },
      "date_str": {
        "type": "string",
        "title": "Date Filter",
        "description": "Date string (YYYY-MM-DD) to filter files by filename",
        "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$",
        "minLength": 10,
        "maxLength": 10
      },
      "transfer_label": {
        "type": "string",
        "title": "Transfer Label",
        "description": "Optional label for the transfer task",
        "default": "Audio Pipeline Transfer",
        "minLength": 1,
        "maxLength": 128
      }
    },
    "additionalProperties": false,
    "propertyOrder": [
      "date_str",
      "source_endpoint",
      "dest_endpoint", 
      "source_path",
      "dest_path",
      "transfer_label"
    ]
  },
  "States": {
    "FileDiscovery": {
      "Type": "Action",
      "ActionUrl": "https://transfer.actions.globus.org/ls",
      "Parameters": {
        "endpoint_id.$": "$.input.source_endpoint",
        "path.$": "$.input.source_path",
        "show_hidden": false,
        "orderby": "name",
        "limit": 10000
      },
      "ResultPath": "$.file_list_result",
      "Next": "PrepareTransferItems"
    },
    "PrepareTransferItems": {
      "Type": "ExpressionEval",
      "Parameters": {
        "expression": "[{'source_path': $.input.source_path + f['name'], 'destination_path': $.input.dest_path + f['name'], 'recursive': False} for f in $.file_list_result.DATA if $.input.date_str in f['name'] and (f['name'].endswith('.tar.xz') or f['name'].endswith('.parquet'))]"
      },
      "ResultPath": "$.transfer_items",
      "Next": "CheckTransferItems"
    },
    "CheckTransferItems": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.transfer_items",
          "StringEquals": "[]",
          "Next": "NoFilesFound"
        }
      ],
      "Default": "InitiateTransfer"
    },
    "NoFilesFound": {
      "Type": "Pass",
      "Result": {
        "status": "FAILED",
        "details": "No files found for the specified date",
        "files_found": 0
      },
      "End": true
    },
    "InitiateTransfer": {
      "Type": "Action", 
      "ActionUrl": "https://transfer.actions.globus.org/transfer",
      "Parameters": {
        "source_endpoint.$": "$.input.source_endpoint",
        "destination_endpoint.$": "$.input.dest_endpoint", 
        "DATA.$": "$.transfer_items",
        "label.$": "$.input.transfer_label",
        "skip_source_errors": true,
        "verify_checksum": false,
        "preserve_timestamp": true,
        "delete_destination_extra": false
      },
      "ResultPath": "$.transfer_result",
      "Next": "FormatResult"
    },
    "FormatResult": {
      "Type": "Pass",
      "Parameters": {
        "status": "SUCCESS",
        "task_id.$": "$.transfer_result.task_id",
        "files_found.$": "$.transfer_items[*]",
        "details": "Transfer initiated successfully"
      },
      "End": true
    }
  }
}